@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');


body {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    font-family: Helvetica, sans-serif;
}

.top-text {
    color: white;
    margin: 1em auto;
    display: flex;
    justify-content: space-between;
    width: 85%;
    padding: 5px;
}

.left-text h2 {
    margin: 0;
}

.left-text p {
    margin: 0;
}

.calc-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 40em;
    background-color: #252c38;
    border-radius: 10px 10px 100px 100px;
    padding-bottom: 2em;
    border-style: solid;
    border-color:  #384253 #181d25 #181d25 #384253;
    border-width: 8px;
}

.display-container {
    background-color: gray;
    box-sizing: border-box;
    width: 95%;
    padding: 15px 45px;
    border-radius: 5px;
    border-style: groove;
    border-color: rgb(95, 95, 95);
}

.calc-display {
    background-color: rgb(100, 100, 37);
    box-shadow: inset 5px 5px rgb(59, 59, 20);
    box-sizing: border-box;
    border-style: inset;
    border-color: rgb(151, 151, 151);
    border-width: 5px;
    height: 3em;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: "Silkscreen", Helvetica, sans-serif;
    font-size: 3em;
}

.calc-display p {
    margin: 0;
    text-shadow: 5px 5px rgb(59, 59, 20, 50%);
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em auto;
    width: 90%;
}

button {
    font-size: 3.5em;
    font-weight: 600;
    width: 20%;
    height: 2em;
    padding: 0.2em;
    flex-grow: 1;
    border-radius: 5px 5px 15px 15px;
    background-image: linear-gradient(to right, #0d1014, #232931);
    color: white;
    border-style: solid;
    border-color: #2d3641 #010102 #010102  #2d3641;
    border-width: 4px;
}

button:active {
    transform: scale(0.95);
}

.num-buttons {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 1.5em;
    margin-top: 2em;
    margin-bottom: 1em;
}

.operator-buttons {
    background-image: linear-gradient(to right, orange, rgb(255, 193, 78));
    color: #0d1014;
    border-style: solid;
    border-color: #f8ba48 #d8811e #d8811e #f8ba48;
}

#clear-btn {
    background-image: linear-gradient(to right, rgb(192, 30, 30), rgb(238, 76, 76));
    color: white;
    border-style: solid;
    border-color: rgb(238, 76, 76) rgb(173, 33, 33) rgb(173, 33, 33) rgb(238, 76, 76);
}
